/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* colors */
:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.container > div{
    flex: 1;
    padding: 0 20px;
}

h1{
    font-size: 40px;
    line-height: 50px;
}

p{
    opacity: 0.8;
    font-size: 15px;
}

.box{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box p{
    margin: 0;
}

.box-blue{
    background-color: var(--blue);
    padding: 20px;
}

.form-control{
    position: relative;
    margin-bottom: 30px;
}

.form-control small{
    color: var(--red);
    font-weight: 600;
    position: absolute;
    bottom: -24px;
    right: 0;
    opacity: 0;
    text-align: right;
}

input{
    display: block;
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1.3px solid var(--grayish-blue);
    font-weight: 500;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.form-control.error input{
    border-color: var(--red);
    color: var(--red);
}

.form-control.error input::placeholder{
    color: var(--red);
}

input:focus{
    border: 1.3px solid var(--blue);
    outline: none;
}

.form-control img{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    height: 20px;
}

.form-control.error img{
    opacity: 1;
}

button{
    background-color: var(--green);
    border-radius: 5px;
    border: 1px solid hsl(154, 59%, 40%);
    box-shadow: 0 2px hsl(154, 59%, 40%);
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
    width: 100%;
}

button:focus{
    outline: none;
}

button:active{
    box-shadow: 0 0px hsl(154, 59%, 40%);
    transform: translateY(2px);
}

.form-control small{
    opacity: 0;
}

.form-control.error small{
    opacity: 1;
}

small{
    display: block;
    color: #bbb;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
}

small a{
    color: var(--red);
    text-decoration: none;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    body{
        padding: 50px;
    }

    h1{
        text-align: center;
    }

    p{
        text-align: center;
    }

    .container{
        flex-direction: column;
    }
}